In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [2]:
with open('data/data_songkick_concerts.csv', encoding='utf-8') as file_concerts:
    concerts_df = pd.read_csv(file_concerts, index_col=0)
    
with open('data/data_songkick_venues.csv', encoding='utf-8') as file_venues:
    venues_df = pd.read_csv(file_venues, index_col=0)
    
with open('data/data_spotify_artists.csv', encoding='utf-8') as file_artists:
    artists_df = pd.read_csv(file_artists, index_col=0)

with open('data/data_spotify_top_genres_v3.csv', encoding='utf-8') as file_genres:
    genres_df = pd.read_csv(file_genres, index_col=0)
    
genres_df

c:\users\cyrille\google drive\unil\ish\mémoire\thesis\env\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

               spotify_genre           top_genre
0     21st century classical           art music
1               5th wave emo  experimental music
2               5th wave emo         world music
3               5th wave emo       hip hop music
4               5th wave emo    electronic music
...                      ...                 ...
6049             zouk riddim    electronic music
6050             zouk riddim         dance music
6051             zouk riddim  instrumental music
6052            zurich indie         world music
6053            zurich indie          rock music

[6054 rows x 2 columns]

In [3]:
concerts_light_df = concerts_df[['type', 'venue_id', 'startDate']]
concerts_light_df.to_csv('data/data_songkick_concerts_light.csv', encoding='utf-8')
concerts_light_df

                        type         venue_id   startDate
/festivals/3376423  festival  /venues/1943879  2021-08-14
/festivals/3370309  festival  /venues/1943879  2021-07-02
/festivals/3338983  festival  /venues/1943879  2020-10-23
/festivals/3250141  festival  /venues/2077709  2020-10-17
/festivals/3326252  festival  /venues/1943879  2020-06-20
...                      ...              ...         ...
/concerts/14694789   concert  /venues/2148724  2013-04-11
/concerts/14836239   concert  /venues/2148724  2013-04-09
/concerts/14836234   concert  /venues/2148724  2013-04-07
/concerts/16089124   concert  /venues/2148724  2013-04-05
/festivals/469459   festival  /venues/4401114  2015-08-14

[82011 rows x 3 columns]

In [4]:
artists_light_df = artists_df[['artist_name', 'spotify_name', 'spotify_id', 'spotify_popularity', 'spotify_followers', 'spotify_listeners']]
artists_light_df.to_csv('data/data_spotify_artists_light.csv', encoding='utf-8')
artists_light_df

,artist_name,spotify_name,spotify_id,spotify_popularity,spotify_followers,spotify_listeners
/artists/3684861-chk-chk-chk,!!! (Chk Chk Chk),!!!,1mmehjf7eHA10uHMisZGJg,46.0,133869.0,341800.0
/artists/694091-kadebostan,!!!Kadebostan!!!,Kadebostan,6hWRK8VkzbYP9p17M5APJR,10.0,1342.0,2000.0
/artists/5929284-brothers-in-bamako,"""Brothers In Bamako""",NaN,NaN,NaN,NaN,NaN
/artists/8704378-floyd-division-the-austrian-pink-floyd-tribute-band,"""Floyd Division"" The Austrian Pink Floyd Tribu...",NaN,NaN,NaN,NaN,NaN
/artists/7172094-jazzetcetera-stewy-von-wattenwyl-group-feat-lisette-spinnler,"""Jazz...etcetera"" Stewy von Wattenwyl Group, ...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
/artists/4301-and-you-will-know-us-by-the-trail-of-dead,…And You Will Know Us by the Trail of Dead,...And You Will Know Us by the Trail of Dead,6wBUn8gMP85n8dPu6LoUcF,39.0,63953.0,96600.0
/artists/1099500-euuroshima,€urOshima,Taro Urashima,5RSxs4Rb82wINvjv5KJ7JK,36.0,14555.0,90100.0
/artists/9573874-belize-it,≈ Belize ≈,≈ Belize ≈,3b8bBMsmGoBd8gYn1pngNc,15.0,6696.0,5100.0
/artists/8889739-luo-chai-cao-yuan-wwww-prairie-wwww,落差草原 WWWW / Prairie WWWW,NaN,NaN,NaN,NaN,NaN
/artists/5427898-heymoonshaker,﻿﻿heymoonshaker,Heymoonshaker,1ar2o79WFRJbq4lci6jq55,26.0,15944.0,18600.0

In [5]:
venues_with_geo_df = venues_df.dropna(subset=['latitude']).reset_index().rename(columns={'index': 'venue_id'})
print(len(venues_df), len(venues_with_geo_df))
venues_with_geo_df

7657 5337

,venue_id,venue,locality,postal_code,street,country,latitude,longitude,venue_website
0,/venues/1943879,"Sargans, Switzerland",Mels,8887,NaN,Switzerland,47.04380,9.42400,NaN
1,/venues/2958443,"Kiental, Switzerland",Frutigen,3723,NaN,Switzerland,46.54310,7.75573,http://naturalsound.ch
2,/venues/78549,"Wetzikon, Switzerland",Wetzikon,NaN,NaN,Switzerland,47.32706,8.80136,NaN
3,/venues/29550,Hallenstadion,Zürich,8050,Wallisellenstrasse 45,Switzerland,47.41161,8.55166,http://www.hallenstadion.ch/
4,/venues/32239,Hive,Zürich,8005,Geroldstrasse 5,Switzerland,47.38537,8.52047,http://www.hiveclub.ch/
...,...,...,...,...,...,...,...,...,...
5332,/venues/2028464,MNML. EVENTS TBA,Winterthur,8406,Zurichstrasse 332,Switzerland,47.52604,8.66103,http://nachtnebel.com
5333,/venues/2763668,House Show,Biel,NaN,NaN,Switzerland,47.14019,7.24377,NaN
5334,/venues/3754699,Mcgees Irish Pub,Zürich,8003,Birmensdorferstrasse 83,Switzerland,47.37078,8.52391,NaN
5335,/venues/4420939,Freie Evangelische Gemeinde Emmen,Luzern,6032,Mooshüslistrasse 32,Switzerland,47.07869,8.29039,http://www.feg-emmen.ch
5336,/venues/4421109,"Arche MZH, Tübach SG (Switzerland)",Rorschach,9327,Aachstrasse 4,Switzerland,47.48410,9.45533,NaN

In [6]:
concerts_with_id_df = concerts_df.reset_index().rename(columns={'index': 'concert_id'})
concerts_with_id_df

,concert_id,type,name,venue,locality,venue_id,startDate,endDate,artist_1,artist_url_1,...,artist_64,artist_url_64,artist_65,artist_url_65,artist_66,artist_url_66,artist_67,artist_url_67,artist_68,artist_url_68
0,/festivals/3376423,festival,EDM Zinne w/Nehilo & Alex Napster 2021,"Sargans, Switzerland",Sargans,/venues/1943879,2021-08-14,2021-08-15,Flavio Stonex,/artists/10069604-flavio-stonex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/festivals/3370309,festival,P20 - EDM Night Zinne Sargans 2021,"Sargans, Switzerland",Sargans,/venues/1943879,2021-07-02,2021-07-03,Flavio Stonex,/artists/10069604-flavio-stonex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/festivals/3338983,festival,EDM Night Vol.3 2020,"Sargans, Switzerland",Sargans,/venues/1943879,2020-10-23,2020-10-23,Flavio Stonex,/artists/10069604-flavio-stonex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/festivals/3250141,festival,Privatevent (gebucht) 2020,VHS Flums,Sargans,/venues/2077709,2020-10-17,2020-10-17,Flavio Stonex,/artists/10069604-flavio-stonex,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/festivals/3326252,festival,PRESS N Play Daydance Sennwald 2020,"Sargans, Switzerland",Sargans,/venues/1943879,2020-06-20,2020-06-20,Flava & Stevenson,/artists/9379654-flava-and-stevenson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82006,/concerts/14694789,concert,Demented Are Go,Komplex Klub,Zürich,/venues/2148724,2013-04-11,2013-04-11,Demented Are Go,/artists/325350-demented-are-go,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82007,/concerts/14836239,concert,For the Fallen Dreams,Komplex Klub,Zürich,/venues/2148724,2013-04-09,2013-04-09,For the Fallen Dreams,/artists/1791519-for-the-fallen-dreams,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82008,/concerts/14836234,concert,Silverstein,Komplex Klub,Zürich,/venues/2148724,2013-04-07,2013-04-07,Silverstein,/artists/424864-silverstein,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82009,/concerts/16089124,concert,Vatsgoed,Komplex Klub,Zürich,/venues/2148724,2013-04-05,2013-04-05,Vatsgoed,/artists/6316464-vatsgoed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82010,/festivals/469459,festival,Heavenstage 2015,Festivalgelände Kleinandelfingen,Flaach,/venues/4401114,2015-08-14,2015-08-16,Trip to Dover,/artists/2408878-trip-to-dover,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
venues_concerts_df = concerts_with_id_df.merge(venues_with_geo_df, how='inner', on='venue_id')
venues_concerts_df = venues_concerts_df[['concert_id', 'venue_id']]
venues_concerts_df

               concert_id         venue_id
0      /festivals/3376423  /venues/1943879
1      /festivals/3370309  /venues/1943879
2      /festivals/3338983  /venues/1943879
3      /festivals/3326252  /venues/1943879
4      /festivals/3323345  /venues/1943879
...                   ...              ...
75577  /concerts/27245349  /venues/2658193
75578  /concerts/27281889  /venues/2658193
75579  /concerts/24059034  /venues/2658193
75580  /concerts/20724708  /venues/2658193
75581  /concerts/20724663  /venues/2658193

[75582 rows x 2 columns]

In [8]:
columns_list = ['spotify_genre_' + str(x) for x in range(1, 20)]
genres_of_artists_df = artists_df[artists_df.columns.intersection(columns_list)].fillna('')
genres_of_artists_dict = genres_of_artists_df.to_dict(orient='index')

artists_list = list()
for artist, genres in tqdm(genres_of_artists_dict.items()):
    genres_set = set(genres.values())
    genres_set.discard('')
    for genre in genres_set:
        artists_list.append({'artist_id': artist, 'spotify_genre': genre})
        
artists_genres_df = pd.DataFrame(artists_list)
artists_genres_df.to_csv('data/data_singled_spotify_artists_genres.csv', encoding='utf-8')
artists_genres_df

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 32231/32231 [00:00<00:00, 575558.53it/s]

                                               artist_id      spotify_genre
0                           /artists/3684861-chk-chk-chk           new rave
1                           /artists/3684861-chk-chk-chk        electronica
2                           /artists/3684861-chk-chk-chk  alternative dance
3                           /artists/3684861-chk-chk-chk   sacramento indie
4                           /artists/3684861-chk-chk-chk       electroclash
...                                                  ...                ...
48828  /artists/4301-and-you-will-know-us-by-the-trai...    double drumming
48829                        /artists/1099500-euuroshima       okinawan pop
48830                         /artists/9573874-belize-it  italian indie pop
48831                         /artists/9573874-belize-it        milan indie
48832                     /artists/5427898-heymoonshaker         beatboxing

[48833 rows x 2 columns]

In [9]:
genres_df = genres_df.fillna('')
genres_dict = genres_df.to_dict(orient='index')

genres_list = list()
for genre, top_genres in tqdm(genres_dict.items()):
    top_genres_set = set(top_genres.values())
    top_genres_set.discard('')
    for top_genre in top_genres_set:
        genres_list.append({'spotify_genre': genre, 'top_genre': top_genre})
        
genres_top_genres_df = pd.DataFrame(genres_list)
genres_top_genres_df.to_csv('data/data_singled_spotify_genres_top_genres.csv', encoding='utf-8')
genres_top_genres_df

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3684/3684 [00:00<00:00, 526557.03it/s]

                       genre           top_genre
0     21st century classical           art music
1               5th wave emo         world music
2               5th wave emo    electronic music
3               5th wave emo       hip hop music
4               5th wave emo  experimental music
...                      ...                 ...
6244             zouk riddim         dance music
6245             zouk riddim  instrumental music
6246             zouk riddim    electronic music
6247            zurich indie         world music
6248            zurich indie          rock music

[6249 rows x 2 columns]

In [9]:
columns_list = ['artist_url_' + str(x) for x in range(1, 70)]
artists_from_concerts_df = concerts_df[concerts_df.columns.intersection(columns_list)].fillna('')
artists_from_concerts_dict = artists_from_concerts_df.to_dict(orient='index')

concerts_list = list()
for concert, artists in tqdm(artists_from_concerts_dict.items()):
    artists_set = set(artists.values())
    artists_set.discard('')
    for artist in artists_set:
        concerts_list.append({'concert_id': concert, 'artist_id': artist})
        
concerts_artists_df = pd.DataFrame(concerts_list)
concerts_artists_df.to_csv('data/data_singled_songkick_concerts_artists.csv', encoding='utf-8')
concerts_artists_df

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 82011/82011 [00:00<00:00, 387979.86it/s]

                concert_id                             artist_id
0       /festivals/3376423       /artists/10069604-flavio-stonex
1       /festivals/3376423              /artists/10132817-nehilo
2       /festivals/3370309       /artists/10069604-flavio-stonex
3       /festivals/3338983       /artists/10069604-flavio-stonex
4       /festivals/3250141       /artists/10069604-flavio-stonex
...                    ...                                   ...
117755  /concerts/14836234  /artists/456971-funeral-for-a-friend
117756  /concerts/14836234           /artists/424864-silverstein
117757  /concerts/14836234          /artists/4578008-tidal-sleep
117758  /concerts/16089124             /artists/6316464-vatsgoed
117759   /festivals/469459        /artists/2408878-trip-to-dover

[117760 rows x 2 columns]

In [10]:
artists_top_genres_df =  artists_genres_df.merge(genres_df, how='left', on='spotify_genre')
artists_top_genres_df

                            artist_id      spotify_genre          top_genre
0        /artists/3684861-chk-chk-chk           new rave        dance music
1        /artists/3684861-chk-chk-chk           new rave         rock music
2        /artists/3684861-chk-chk-chk           new rave  independent music
3        /artists/3684861-chk-chk-chk        electronica   electronic music
4        /artists/3684861-chk-chk-chk  alternative dance        dance music
...                               ...                ...                ...
80344      /artists/9573874-belize-it  italian indie pop          pop music
80345      /artists/9573874-belize-it  italian indie pop         rock music
80346      /artists/9573874-belize-it  italian indie pop  independent music
80347      /artists/9573874-belize-it        milan indie         rock music
80348  /artists/5427898-heymoonshaker         beatboxing      hip hop music

[80349 rows x 3 columns]

In [11]:
concerts_top_genres_df = concerts_artists_df.merge(artists_top_genres_df, how='right', on='artist_id')
concerts_top_genres_df

,concert_id,artist_id,spotify_genre,top_genre
0,/concerts/13429724,/artists/2865626-james-lann,texas country,world music
1,/concerts/12361948,/artists/2865626-james-lann,texas country,world music
2,/concerts/13429724,/artists/2865626-james-lann,texas country,country music
3,/concerts/12361948,/artists/2865626-james-lann,texas country,country music
4,/festivals/1299978,/artists/951712-james-gruntz,swiss indie,world music
...,...,...,...,...
352632,/concerts/14836239,/artists/591687-abandon-all-ships,post-screamo,experimental music
352633,/concerts/14836239,/artists/591687-abandon-all-ships,post-screamo,rock music
352634,/concerts/14836239,/artists/591687-abandon-all-ships,canadian metalcore,rock music
352635,/concerts/14836239,/artists/591687-abandon-all-ships,trancecore,dance music
352636,/concerts/14836239,/artists/591687-abandon-all-ships,trancecore,electronic music

In [12]:
venues_top_genres_df = venues_concerts_df.merge(concerts_top_genres_df, how='inner', on='concert_id')
venues_top_genres_df

,concert_id,venue_id,artist_id,spotify_genre,top_genre
0,/concerts/13429724,/venues/1943879,/artists/2865626-james-lann,texas country,world music
1,/concerts/13429724,/venues/1943879,/artists/2865626-james-lann,texas country,country music
2,/festivals/1299978,/venues/2958443,/artists/951712-james-gruntz,swiss indie,world music
3,/festivals/1299978,/venues/2958443,/artists/951712-james-gruntz,swiss indie,hip hop music
4,/festivals/1299978,/venues/2958443,/artists/951712-james-gruntz,swiss rock,world music
...,...,...,...,...,...
332152,/concerts/20724663,/venues/2658193,/artists/4446953-caravana-sun,australian indie rock,world music
332153,/concerts/20724663,/venues/2658193,/artists/4446953-caravana-sun,australian indie rock,rock music
332154,/concerts/20724663,/venues/2658193,/artists/4446953-caravana-sun,australian indie rock,independent music
332155,/concerts/20724663,/venues/2658193,/artists/4446953-caravana-sun,australian reggae fusion,jazz
332156,/concerts/20724663,/venues/2658193,/artists/4446953-caravana-sun,australian reggae fusion,world music

In [13]:
venues_top_genres_df.to_csv('data/data_singled_venues_top_genres.csv', encoding='utf-8')

In [63]:
artists_light_df.loc[venues_top_genres_df.loc[venues_top_genres_df['artist_id'].isin(['/artists/4374198-odezenne', '/artists/1469642-moussa'])]['artist_id'].unique()]

odez = venues_df.loc[
        concerts_df.loc[
            venues_top_genres_df.loc[
                venues_top_genres_df['artist_id'].isin(['/artists/4374198-odezenne'])
            ]['concert_id'].unique()
        ]['venue_id']
    ]

In [83]:
odez['venue_count'] = 0
venue_count = odez.groupby('venue')['venue_count'].transform("count")
sum_venue_count = venue_count.sum()
odez['venue_count'] = venue_count/sum_venue_count
odez

,venue,locality,postal_code,street,country,latitude,longitude,venue_website,venue_count
/venues/35054,Les Docks,Lausanne,1004,34 rue Sévelin,Switzerland,46.52241,6.61925,http://www.lesdocks.ch/,0.117647
/venues/35054,Les Docks,Lausanne,1004,34 rue Sévelin,Switzerland,46.52241,6.61925,http://www.lesdocks.ch/,0.117647
/venues/33498,Fri-Son,Fribourg,CH-1700,Route de la Fonderie 13,Switzerland,46.79490,7.15190,http://www.fri-son.ch/,0.058824
/venues/2837343,Le Romandie,Lausanne,1003,Place de l'Europe 1a,Switzerland,46.52012,6.63141,https://www.leromandie.ch/,0.058824
/venues/1161281,Alhambra,Geneva,1204,Rue de la Rotisserie 10,Switzerland,46.20260,6.14665,http://www.alhambra-geneve.ch/,0.117647
/venues/1161281,Alhambra,Geneva,1204,Rue de la Rotisserie 10,Switzerland,46.20260,6.14665,http://www.alhambra-geneve.ch/,0.117647
/venues/419106,Amalgame Club,Yverdon-Les-Bains,1400,"AVENUE DES SPORTS, 5",Switzerland,46.78220,6.64921,http://www.amalgameclub.ch/,0.058824
/venues/245568,Bleu Lézard,Lausanne,1003,Rue Enning 10,Switzerland,46.52017,6.63766,NaN,0.058824
/venues/2462799,Post Tenebras Rock (PTR) - L'Usine,Geneva,1204,Place des Volontaires 4,Switzerland,46.20400,6.13628,http://ptrnet.ch,0.058824
/venues/101332,Ned Music Club,Montreux,1820,Rue du Marché 19,Switzerland,46.43391,6.91234,NaN,0.117647
/venues/101332,Ned Music Club,Montreux,1820,Rue du Marché 19,Switzerland,46.43391,6.91234,NaN,0.117647

In [348]:
start_date = '2013-01-01'
end_date = '2013-02-01'

date_filter = concerts_light_df[(concerts_light_df['startDate'] > start_date) & (concerts_light_df['startDate'] < end_date)].index
filtered_by_date_df = venues_top_genres_df.loc[venues_top_genres_df['concert_id'].isin(date_filter)]
filtered_by_date_df

,concert_id,venue_id,artist_id,genre,top_genre
2788,/concerts/15298834,/venues/29550,/artists/4392693-2cellos,bow pop,pop music
2789,/concerts/15298834,/venues/29550,/artists/4392693-2cellos,cello,rock music
2790,/concerts/15298834,/venues/29550,/artists/4305-leona-lewis,post-teen pop,pop music
2791,/concerts/15298834,/venues/29550,/artists/4305-leona-lewis,neo mellow,art music
2792,/concerts/15298834,/venues/29550,/artists/4305-leona-lewis,europop,pop music
...,...,...,...,...,...
347089,/concerts/15098129,/venues/2129459,/artists/3541081-vor,trap soul,hip hop music
347090,/concerts/15098129,/venues/2129459,/artists/3541081-vor,trap soul,world music
347091,/concerts/15098129,/venues/2129459,/artists/3541081-vor,trap soul,soul music
347092,/concerts/15098129,/venues/2129459,/artists/3541081-vor,kentucky hip hop,hip hop music
347093,/concerts/15098129,/venues/2129459,/artists/3541081-vor,kentucky hip hop,world music

In [15]:
print('Nbr concerts:', len(venues_top_genres_df['concert_id'].unique()))
print('Nbr venues:', len(venues_top_genres_df['venue_id'].unique()))
print('Nbr artists:', len(venues_top_genres_df['artist_id'].unique()))
print('Nbr genres:', len(venues_top_genres_df['spotify_genre'].unique()))
print('Nbr top genres:', len(venues_top_genres_df['top_genre'].unique()))

Nbr concerts: 51719
Nbr venues: 3099
Nbr artists: 16506
Nbr genres: 3640
Nbr top genres: 23

In [155]:
artist_id = ['/artists/4374198-odezenne', '/artists/1469642-moussa']

artists_in_concerts = venues_concerts_artists_df.loc[venues_concerts_artists_df['artist_id'].isin(artists_df.index)]
venues_df.loc[artists_in_concerts['venue_id'].unique()].dropna(subset=['latitude'])

,venue,locality,postal_code,street,country,latitude,longitude,venue_website
/venues/1943879,"Sargans, Switzerland",Mels,8887,NaN,Switzerland,47.04380,9.42400,NaN
/venues/2958443,"Kiental, Switzerland",Frutigen,3723,NaN,Switzerland,46.54310,7.75573,http://naturalsound.ch
/venues/78549,"Wetzikon, Switzerland",Wetzikon,NaN,NaN,Switzerland,47.32706,8.80136,NaN
/venues/29550,Hallenstadion,Zürich,8050,Wallisellenstrasse 45,Switzerland,47.41161,8.55166,http://www.hallenstadion.ch/
/venues/32239,Hive,Zürich,8005,Geroldstrasse 5,Switzerland,47.38537,8.52047,http://www.hiveclub.ch/
...,...,...,...,...,...,...,...,...
/venues/1496778,Queens Club,Zürich,8005,Förrlibuckstrasse 151,Switzerland,47.39188,8.51129,NaN
/venues/2304799,Verbier Festival,Martigny,1936,Chemin Plan-Pra,Switzerland,46.10076,7.22008,NaN
/venues/3379234,Alti Moschti,Bern,3127,Moosstrasse 1,Switzerland,46.81474,7.51391,http://www.altimoschti.ch/
/venues/2658193,Goldener Anker,Bern,NaN,NaN,Switzerland,46.68738,7.86955,NaN
/venues/2148724,Komplex Klub,Zürich,8048,Hohlstrasse 457,Switzerland,47.38732,8.49986,http://www.komplex457.ch/klub/klub/

In [143]:
stats_venues_series = venues_top_genres_df.groupby('venue_id')['concert_id'].nunique()
stats_venues_series.name = 'nbr_concerts'
stats_venues_dict = pd.DataFrame(stats_venues_series).to_dict(orient='index')
len(stats_venues_dict)

3099

In [144]:
for venue_id, stats in tqdm(stats_venues_dict.items()):
    genres_dict = dict(venues_top_genres_df.loc[venues_top_genres_df['venue_id'] == venue_id].groupby('top_genre')['concert_id'].nunique())
    stats_venues_dict[venue_id].update(genres_dict)
    
len(stats_venues_dict)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3099/3099 [01:22<00:00, 37.43it/s]

3099

In [145]:
stats_venues_df = pd.DataFrame.from_dict(stats_venues_dict, orient='index')
stats_venues_df.fillna(0, inplace=True)
stats_venues_df = venues_stats_df.astype('int32')
stats_venues_df

,nbr_concerts,art music,experimental music,jazz,rock music,acoustic music,blues,country music,dance music,electronic music,...,pop music,vocal music,world music,instrumental music,lo-fi music,rhythm and blues,soul music,underground music,funk,children's music
/venues/1001236,14,4,4,10,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
/venues/1004201,37,14,0,4,23,4,12,12,16,19,...,23,3,27,0,0,0,0,0,0,0
/venues/1004876,28,0,0,2,4,2,0,0,0,0,...,2,3,11,0,0,0,0,0,0,0
/venues/1006731,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
/venues/100720,6,0,0,2,2,0,0,0,0,0,...,1,0,4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/venues/986336,1,0,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
/venues/98757,165,13,1,16,43,13,6,10,4,9,...,107,23,117,4,0,4,3,1,1,0
/venues/988536,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
/venues/996021,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
/venues/99611,3,3,1,1,3,2,3,1,3,3,...,3,2,3,0,0,2,1,0,1,0

In [148]:
stats_venues_df.iloc[:,1:] = stats_venues_df.iloc[:,1:].div(stats_venues_df['nbr_concerts'], axis=0).round(2)
stats_venues_df

,nbr_concerts,art music,experimental music,jazz,rock music,acoustic music,blues,country music,dance music,electronic music,...,pop music,vocal music,world music,instrumental music,lo-fi music,rhythm and blues,soul music,underground music,funk,children's music
/venues/1001236,14,0.29,0.29,0.71,0.29,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/1004201,37,0.38,0.00,0.11,0.62,0.11,0.32,0.32,0.43,0.51,...,0.62,0.08,0.73,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/1004876,28,0.00,0.00,0.07,0.14,0.07,0.00,0.00,0.00,0.00,...,0.07,0.11,0.39,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/1006731,1,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,1.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/100720,6,0.00,0.00,0.33,0.33,0.00,0.00,0.00,0.00,0.00,...,0.17,0.00,0.67,0.00,0.0,0.00,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/venues/986336,1,0.00,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.00,...,1.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/98757,165,0.08,0.01,0.10,0.26,0.08,0.04,0.06,0.02,0.05,...,0.65,0.14,0.71,0.02,0.0,0.02,0.02,0.01,0.01,0.0
/venues/988536,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/996021,1,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0
/venues/99611,3,1.00,0.33,0.33,1.00,0.67,1.00,0.33,1.00,1.00,...,1.00,0.67,1.00,0.00,0.0,0.67,0.33,0.00,0.33,0.0

In [153]:
stats_venues_df = stats_venues_df.reindex(sorted(stats_venues_df.columns), axis=1)
col = stats_venues_df.pop('nbr_concerts')
stats_venues_df.insert(0, col.name, col)
stats_venues_df

,nbr_concerts,acoustic music,art music,blues,children's music,country music,dance music,electronic music,experimental music,folk music,...,instrumental music,jazz,lo-fi music,pop music,rhythm and blues,rock music,soul music,underground music,vocal music,world music
/venues/1001236,14,0.00,0.29,0.00,0.0,0.00,0.00,0.00,0.29,0.00,...,0.00,0.71,0.0,0.00,0.00,0.29,0.00,0.00,0.00,0.00
/venues/1004201,37,0.11,0.38,0.32,0.0,0.32,0.43,0.51,0.00,0.54,...,0.00,0.11,0.0,0.62,0.00,0.62,0.00,0.00,0.08,0.73
/venues/1004876,28,0.07,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.14,...,0.00,0.07,0.0,0.07,0.00,0.14,0.00,0.00,0.11,0.39
/venues/1006731,1,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.0,1.00,0.00,1.00,0.00,0.00,0.00,0.00
/venues/100720,6,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.33,0.0,0.17,0.00,0.33,0.00,0.00,0.00,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
/venues/986336,1,0.00,0.00,1.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.0,1.00,0.00,1.00,0.00,0.00,0.00,0.00
/venues/98757,165,0.08,0.08,0.04,0.0,0.06,0.02,0.05,0.01,0.53,...,0.02,0.10,0.0,0.65,0.02,0.26,0.02,0.01,0.14,0.71
/venues/988536,1,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00
/venues/996021,1,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,...,0.00,1.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00
/venues/99611,3,0.67,1.00,1.00,0.0,0.33,1.00,1.00,0.33,0.67,...,0.00,0.33,0.0,1.00,0.67,1.00,0.33,0.00,0.67,1.00

In [155]:
stats_venues_df.to_csv('data/data_stats_venues_genres.csv', encoding='utf-8')

PermissionError: [Errno 13] Permission denied: 'data/data_stats_venues_genres.csv'

In [160]:
stats_venues_df['nbr_concerts'].value_counts()

1       1275
2        435
3        233
4        179
5        124
        ...
85         1
89         1
93         1
99         1
1473       1
Name: nbr_concerts, Length: 178, dtype: int64